.page-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f8fd;
}

.back-feedback {
  position: relative;
  top: -130px;
  right: 30px;
  display: flex;
  gap: 0.5rem;
}

.back-feedback button {
  outline: none;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  background-color: #f7f8fd;
  color: #647196;
}

.card-feedback {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 0.8rem;
  background-color: #ffffff;
}

.img-feedback {
  position: relative;
  top: -80px;
}

.card-feedback h2 {
  margin: 0;
  font-family: Jost, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #3a4374;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.form h5 {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  color: #3a4374;
}

.form p {
  margin: 0;
  padding-bottom: 0.5rem;
  font-family: jost, sans-serif;
  color: #647196;
}

.form h4 {
  font-size: 16px;
  font-weight: 400;
  color: #d73737;
}

input,
select {
  width: 100%;
  height: 48px;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  background-color: #f7f8fd;
}

select {
  padding-inline: 1rem;
  cursor: pointer;
}

input:hover {
  border: 1px solid #4661e6;
}

select:hover {
  border: 1px solid #4661e6;
}

.detail-input {
  height: 96px;
}

.feedback-btn {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.feedback-btn button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  color: #f2f4fe;
  cursor: pointer;
}

.delete-btn {
  background-color: #d73737;
}

.cancel-btn {
  background-color: #3a4374;
}

.cancel-btn:hover {
  background: #656ea3;
}

.add-btn {
  background-color: #ad1fea;
}

.add-btn:hover {
  background-color: #c75af6;
}
