header {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #373f68;
}

.suggestion-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.suggestion-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 12px;
  color: #ffffff;
  margin-top: 0.3rem;
}

.suggestion-number img {
  display: block;
}

.suggestion-number h6 {
  padding-top: 0.2rem;
  font-size: 18px;
}

.sort {
  display: flex;
  align-items: center;
  color: #f2f4fe;
  opacity: 0.7;
}

header select {
  border: 0;
  outline: none;
  font-weight: 700;
  color: #647196;
  opacity: 0.6;
  background-color: transparent;
}

header a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  background-color: #ad1fea;
  font-weight: 700;
  font-size: 14px;
  color: #f2f4fe;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    margin-top: 0;
  }

  .suggestion-number img {
    display: block;
  }
}
@media (max-width: 600px) {
  header {
    margin-top: 80px;
  }

  .suggestion-number img {
    display: none;
  }
}
