@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f8fd;
}
aside {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: start;
  padding: 3rem;
  font-family: Jost, sans-serif;
}
.sidebar-header {
  padding: 1.5rem;
  border-radius: 10px;
  background-image: url("../assets/suggestions/desktop/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}
.sidebar-header h3 {
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}
.sidebar-header p {
  font-weight: 500;
}

[type="checkbox"] {
  position: absolute;
  left: -300px;
}
.buttons {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
}
label {
  background-color: #f2f4ff;
  color: #4661e6;
  font-weight: 600;
  padding: 1rem;
  font-size: 13px;
  border-radius: 10px;
  min-width: 25%;
}
label:active {
  background-color: #4661e6;
  color: #fff;
}
.road-map {
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
}
.title {
  display: flex;
  justify-content: space-between;
}
ul > div {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
